Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-customforms.yml, azure-pipelines.yml

azure-pipelines-customforms.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Deployment Package
    jobs:
    - job: BuildForms
      displayName: Build and Package Forms
      steps:
      - checkout: self
        fetchDepth: 0
        displayName: Checkout code
      - task: NodeTool@0
        inputs:
  ...

fix: load .env.local in PM2 ecosystem config
  custom-forms/ecosystem.config.js
Due: azure-pipelines-customforms.yml

fix: use apiFetch() in admin pages for proper basePath support
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/page.tsx
Due: azure-pipelines-customforms.yml

feat: add authentication to delete endpoints and fix download basePath
  custom-forms/backend-api/main.py
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/api/custom-forms/[formName]/delete/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/[version]/delete/route.ts
  custom-forms/runtime-app/lib/auth-server.ts
Due: azure-pipelines-customforms.yml

fix: prevent trailing slash redirect from losing basePath
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-customforms.yml

fix: IIS reverse proxy basePath handling for Next.js standalone
  azure-pipelines-deploy.yml
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

fix: resolve all basePath issues for IIS deployment
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/error.tsx
  custom-forms/runtime-app/next.config.js
  custom-forms/runtime-app/pages/_document.tsx
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

fix: handle nullable searchParams in Next.js 15
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-customforms.yml

fix: completely revise basePath handling for Next.js 15 App Router
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/middleware.ts
  custom-forms/runtime-app/next.config.js
  custom-forms/runtime-app/pages/_document.tsx
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

feat: implement runtime basePath configuration
  custom-forms/runtime-app/.env.local.runtime
  custom-forms/runtime-app/app/api/config/route.ts
  custom-forms/runtime-app/app/layout.tsx
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/lib/navigation.ts
  custom-forms/runtime-app/lib/runtime-config.tsx
  custom-forms/runtime-app/middleware.ts
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-customforms.yml

fix: runtime basePath configuration and orphaned forms deletion
  custom-forms/runtime-app/.env.local.runtime
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/api/custom-forms/[formName]/delete/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/[version]/delete/route.ts
  custom-forms/runtime-app/app/api/custom-forms/route.ts
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/lib/runtime-config.tsx
Due: azure-pipelines-customforms.yml

chore: ignore test files and SQLite databases
  .gitignore
Due: none

chore: clean upload directories - remove deployment zips
  aprobacion-gastos/upload/aprobacion-gastos-deployment-1.0.0-6fb7e7a.zip
  dashboard-integration-demo/upload/bizuit-custom-forms-deployment-1.0.202511201959.zip
  dashboard-integration-demo/upload/bizuit-custom-forms-deployment-1.0.202511202033.zip
  dashboard-integration-demo/upload/bizuit-custom-forms-deployment-1.0.202511202053.zip
  dashboard-integration-demo/upload/bizuit-custom-forms-deployment-1.0.202511202113.zip
  dashboard-integration-demo/upload/dashboard-integration-demo-deployment-0.0.1-b2a794a.zip
  dashboard-integration-demo/upload/dashboard-integration-demo-deployment-1.1.1-33f2fb4.zip
  dashboard-integration-demo/upload/dashboard-integration-demo-deployment-1.1.3-6fb7e7a.zip
  dashboard-integration-demo/upload/dashboard-integration-demo-deployment-1.1.4-6675fae.zip
  sample-form-2/upload/sample-form-2-deployment-1.0.4-6fb7e7a.zip
  sample-form-2/upload/sample-form-2-deployment-1.0.5-801c3ef.zip
  sample-form-2/upload/sample-form-2-deployment-1.1.0-d75fe01.zip
  sample-form-2/upload/sample-form-2-deployment-1.1.1-33f2fb4.zip
  sample-form-2/upload/sample-form-2-deployment-1.1.2-c30f4a9.zip
  sample-form-2/upload/sample-form-2-deployment-1.1.3-1dfec5e.zip
  solicitud-soporte/upload/solicitud-soporte-deployment-1.0.0-6fb7e7a.zip
  solicitud-vacaciones/upload/solicitud-vacaciones-deployment-1.0.0-6fb7e7a.zip
Due: none

chore: remove unnecessary example forms - keep only sample-form-2 and dashboard-integration-demo
  aprobacion-gastos/dist/form.js
  aprobacion-gastos/dist/form.js.map
  aprobacion-gastos/dist/form.meta.json
  aprobacion-gastos/package-lock.json
  aprobacion-gastos/package.json
  aprobacion-gastos/src/index.tsx
  aprobacion-gastos/tsconfig.json
  solicitud-soporte/dist/form.js
  solicitud-soporte/dist/form.js.map
  solicitud-soporte/dist/form.meta.json
  solicitud-soporte/package.json
  solicitud-soporte/src/index.tsx
  solicitud-vacaciones/dist/form.js
  solicitud-vacaciones/dist/form.js.map
  solicitud-vacaciones/dist/form.meta.json
  solicitud-vacaciones/package-lock.json
  solicitud-vacaciones/package.json
  solicitud-vacaciones/src/index.tsx
  solicitud-vacaciones/test.html
  solicitud-vacaciones/tsconfig.json
Due: azure-pipelines.yml

refactor: make GitHub Actions workflow dynamic
  .github/workflows/build-deployment-package.yml
Due: none

fix: add required packageVersion field to manifest.json
  .github/workflows/build-deployment-package.yml
Due: none

feat: add last updated timestamp to forms
  dashboard-integration-demo/src/index.tsx
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

test: trigger workflow to verify artifact uploads
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

test: trigger workflow to verify artifact naming
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

fix: use dynamic versioning from package.json
  sample-form-2/src/index.tsx
  sample-form-2/tsconfig.json
Due: azure-pipelines.yml

fix: resolve QUOTED_IDENTIFIER error in SQL Server operations
  custom-forms/backend-api/database.py
  custom-forms/backend-api/migrations/006_fix_quoted_identifier.sql
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

test: update both forms to verify multi-artifact workflow
  dashboard-integration-demo/src/index.tsx
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

refactor: minimize FormContainer to only render form content
  custom-forms/runtime-app/components/FormContainer.tsx
  custom-forms/runtime-app/components/FormLoadingState.tsx
Due: azure-pipelines-customforms.yml

test: verify workflow only builds changed form
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml

fix: only upload artifacts for changed forms
  .github/workflows/build-deployment-package.yml
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml

Update form title to include 'ARIEL'
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

fix: restore basePath configuration for static assets in production
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-customforms.yml

Revert "fix: restore basePath configuration for static assets in production"
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-customforms.yml

feat: implement runtime basePath configuration without rebuild
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  custom-forms/RUNTIME_BASEPATH_SETUP.md
  custom-forms/runtime-app/ecosystem.config.js
  custom-forms/runtime-app/next.config.js
  custom-forms/runtime-app/scripts/prepare-deployment.js
  custom-forms/runtime-app/scripts/prepare-deployment.ps1
Due: azure-pipelines-customforms.yml

fix: simplify PM2 config - run replacement script separately
  custom-forms/runtime-app/ecosystem.config.js
Due: azure-pipelines-customforms.yml

fix: runtime basePath configuration for CSS and API routes
  custom-forms/runtime-app/app/api/config/route.ts
  custom-forms/runtime-app/ecosystem.config.js
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/lib/runtime-config.tsx
  custom-forms/runtime-app/scripts/prepare-deployment.js
  custom-forms/runtime-app/scripts/prepare-deployment.ps1
Due: azure-pipelines-customforms.yml

fix: TypeScript error with __NEXT_DATA__ basePath property
  custom-forms/runtime-app/lib/api-client.ts
Due: azure-pipelines-customforms.yml

fix: RuntimeConfigProvider circular dependency with basePath
  custom-forms/runtime-app/lib/runtime-config.tsx
Due: azure-pipelines-customforms.yml

Path conditions:
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines.yml: any of: */src, */package.json, build-form.js
