Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml, azure-pipelines.yml

azure-pipelines-build.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    dependsOn: []
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
  ...

azure-pipelines-customforms.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
  ...

azure-pipelines-frontend-webapp.yml:
  stages:
  - stage: Build
    displayName: Build Next.js Application
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: BuildJob
      displayName: Build Runtime App
      steps:
      - checkout: self
        clean: true
        displayName: Checkout Repository
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Deployment Package
    jobs:
    - job: BuildForms
      displayName: Build and Package Forms
      steps:
      - checkout: self
        fetchDepth: 0
        displayName: Checkout code
      - task: NodeTool@0
        inputs:
  ...

fix: correct backend API URL (athj instead of afbh)
  azure-pipelines-frontend-webapp.yml
Due: none

feat: increase health check retries from 3 to 6 attempts
  azure-pipelines-frontend-webapp.yml
Due: none

feat: add iframe origin validator and initial tests
  custom-forms/runtime-app/app/form/[formName]/__tests__/page.test.tsx
  custom-forms/runtime-app/lib/__tests__/dashboard-params.test.ts
  custom-forms/runtime-app/lib/__tests__/iframe-origin-validator.test.ts
  custom-forms/runtime-app/lib/iframe-origin-validator.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat: add standalone forms loader (/formsa) with triple-layer iframe origin validation
  azure-pipelines-build.yml
  azure-pipelines-deploy-recubiz.yml
  azure-pipelines-deploy.yml
  azure-pipelines-frontend-webapp.yml
  custom-forms/runtime-app/.env.example
  custom-forms/runtime-app/SECURITY.md
  custom-forms/runtime-app/app/formsa/[formName]/page.tsx
  custom-forms/runtime-app/middleware.ts
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat: add Recubiz debt collection management form
  recubiz-gestion/dev.html
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.js.map
  recubiz-gestion/dist/form.meta.json
  recubiz-gestion/package-lock.json
  recubiz-gestion/package.json
  recubiz-gestion/src/index.tsx
  recubiz-gestion/tsconfig.json
Due: azure-pipelines.yml

feat: add modal-based action registration and improve UX
  recubiz-gestion/dev.html
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.js.map
  recubiz-gestion/dist/form.meta.json
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(recubiz-gestion): improve contact display and action history UX
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(recubiz-gestion): integrate Bizuit SDK for debt request process
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.js.map
  recubiz-gestion/dist/form.meta.json
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(sdk): add automatic XML to JSON conversion for process parameters
  packages/bizuit-form-sdk/package.json
  packages/bizuit-form-sdk/src/__tests__/xml-parser.test.ts
  packages/bizuit-form-sdk/src/lib/api/process-service.ts
  packages/bizuit-form-sdk/src/lib/types/process.types.ts
  packages/bizuit-form-sdk/src/lib/utils/index.ts
  packages/bizuit-form-sdk/src/lib/utils/xml-parser.ts
  packages/bizuit-form-sdk/vitest.config.ts
Due: none

feat(recubiz-gestion): use SDK v2.0.1 with auto-parsed JSON
  recubiz-gestion/dev.html
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.js.map
  recubiz-gestion/dist/form.meta.json
  recubiz-gestion/package-lock.json
  recubiz-gestion/package.json
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

fix(sdk): support string parameterType values for XML parsing
  packages/bizuit-form-sdk/package.json
  packages/bizuit-form-sdk/src/lib/api/process-service.ts
  packages/bizuit-form-sdk/src/lib/types/process.types.ts
Due: none

fix(sdk): handle tyconParameters and support string parameterType values
  packages/bizuit-form-sdk/package.json
  packages/bizuit-form-sdk/src/lib/api/process-service.ts
Due: none

feat(recubiz-gestion): add RB_IniciarGestion process integration
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.js.map
  recubiz-gestion/dist/form.meta.json
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

fix(deploy): correct standalone build path for Next.js deployment
  azure-pipelines-deploy-recubiz.yml
  azure-pipelines-deploy.yml
Due: none

chore(recubiz-gestion): add version to file header
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

refactor(workflow): make artifact upload fully dynamic
  .github/workflows/build-deployment-package.yml
Due: none

docs(recubiz-gestion): add @version tag to file header
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

docs(recubiz-gestion): add @author tag to file header
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

docs(recubiz-gestion): add @package tag to header
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(runtime): make ALLOW_DEV_MODE configurable per deployment without rebuild
  azure-pipelines-build.yml
  azure-pipelines-deploy-recubiz.yml
  azure-pipelines-deploy.yml
  azure-pipelines-frontend-webapp.yml
  custom-forms/runtime-app/.env.example
  custom-forms/runtime-app/app/api/config/route.ts
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs(recubiz-gestion): add @license tag to header
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(pipelines): configure backend to run after frontend success
  azure-pipelines-backend-webapp.yml
Due: none

fix(runtime): use absolute URL for /api/config fetch to include basePath
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

chore(runtime): add debug logging for config URL construction
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime): use absolute URL for metadata fetch to include basePath
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(dev): add fat bundle build for standalone dev.html testing
  build-form-dev.js
  recubiz-gestion/dev.html
  recubiz-gestion/dist/form.dev.js
  recubiz-gestion/dist/form.dev.js.map
  recubiz-gestion/package.json
Due: azure-pipelines.yml

fix(runtime): use absolute URL for form code fetch to include basePath
  custom-forms/runtime-app/lib/form-loader.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime): use absolute URL for formsa metadata fetch to include basePath
  custom-forms/runtime-app/app/formsa/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(recubiz-gestion): prioritize Dashboard token over hardcoded login
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

security(recubiz-gestion): move dev credentials to gitignored file
  .gitignore
  recubiz-gestion/README.md
  recubiz-gestion/dev-credentials.example.js
  recubiz-gestion/dev.html
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

fix(runtime): unified basePath extraction using split('/form')
  custom-forms/runtime-app/app/form/[formName]/page.tsx
  custom-forms/runtime-app/app/formsa/[formName]/page.tsx
  custom-forms/runtime-app/lib/form-loader.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(recubiz-gestion): fix dev.html to use form.dev.js and add useMemo for SDK
  build-form-dev.js
  recubiz-gestion/dev.html
  recubiz-gestion/dist/form.dev.js
  recubiz-gestion/dist/form.dev.js.map
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(runtime-app): support dev credentials for forms in dev mode
  .gitignore
  custom-forms/runtime-app/app/form/[formName]/page.tsx
  custom-forms/runtime-app/dev-credentials.example.js
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): use latest version for @tyconsa packages
  custom-forms/runtime-app/package.json
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

Path conditions:
  azure-pipelines-build.yml: any of: custom-forms, azure-pipelines-build.yml
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines-frontend-webapp.yml: any of: custom-forms/runtime-app
  azure-pipelines.yml: any of: */src, */package.json, build-form.js
