Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend-webapp.yml, azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-backend-webapp.yml: any of: custom-forms/backend-api
  azure-pipelines-build.yml: any of: custom-forms, azure-pipelines-build.yml
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines-frontend-webapp.yml: any of: custom-forms/runtime-app
  azure-pipelines.yml: any of: */src, */package.json, build-form.js

docs: add complete fat bundle testing instructions
  DEVELOPMENT.md
  README.md
Due: none

chore: update forms-examples submodule to point to TYCON-SA fork
  .gitmodules
Due: none

refactor: rename submodule from forms-examples to bizuit-custom-form-sample
  .gitmodules
Due: none

docs: update documentation with generic examples and fat bundle guide
  QUICK_START.md
  README.md
  custom-forms-showcase/docs/README.md
  custom-forms/DEVELOPER_GUIDE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(docs): add prominent TYCON-SA repo callout and update submodule references
  custom-forms/runtime-app/app/docs/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: actualizar submódulo con documentación de versionado mejorada
  custom-forms/runtime-app/app/docs/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(security): implement tenant isolation for admin authentication
  TEST_TENANT_ISOLATION.md
  custom-forms/backend-api/auth_service.py
  custom-forms/backend-api/main.py
  custom-forms/backend-api/models.py
  custom-forms/backend-api/tests/test_api_endpoints.py
  custom-forms/backend-api/tests/test_auth_service.py
  custom-forms/backend-api/tests/test_database.py
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/api/auth/login/__tests__/route.test.ts
  custom-forms/runtime-app/app/api/auth/logout/__tests__/route.test.ts
  custom-forms/runtime-app/app/api/auth/session/__tests__/route.test.ts
  custom-forms/runtime-app/app/api/auth/session/route.ts
  custom-forms/runtime-app/hooks/__tests__/useLoginForm.test.ts
  custom-forms/runtime-app/hooks/useLoginForm.ts
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/lib/navigation.ts
  test-tenant-isolation.sh
Due: azure-pipelines-backend-webapp.yml, azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(admin-login): improve session expired message UX
  custom-forms/runtime-app/app/admin/login/page.tsx
  docs/SESSION_HANDOFF.md
  docs/UI_COMPONENTS_PROGRESS.md
  docs/security/TENANT_ISOLATION_GUIDE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(admin-login): only show expired message when session actually expired
  custom-forms/runtime-app/lib/api-client.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

chore: initialize .NET Core backend project (WIP - POC phase)
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/BizuitCustomForms.Tests.csproj
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/UnitTest1.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.dgspec.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.g.props
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.g.targets
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/project.assets.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/project.nuget.cache
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/BizuitCustomForms.WebApi.csproj
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/BizuitCustomForms.WebApi.http
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/WeatherForecastController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Program.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Properties/launchSettings.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/WeatherForecast.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/appsettings.Development.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/appsettings.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.dgspec.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.g.props
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.g.targets
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/project.assets.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/project.nuget.cache
  custom-forms/backend-api-dotnet/BizuitCustomForms.sln
  custom-forms/backend-api-dotnet/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(backend-dotnet): implement POC with core services (TripleDES, SQL, JWT)
  custom-forms/backend-api-dotnet/.gitignore
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Services/CryptoServiceTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.dgspec.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.g.props
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/BizuitCustomForms.Tests.csproj.nuget.g.targets
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/project.assets.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/obj/project.nuget.cache
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/BizuitCustomForms.WebApi.csproj
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/HealthController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/AuthModels.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Program.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/AuthenticationService.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/CryptoService.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.dgspec.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.g.props
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/BizuitCustomForms.WebApi.csproj.nuget.g.targets
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/project.assets.json
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/obj/project.nuget.cache
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(backend-dotnet): implement Form Tokens endpoints (Fase 2 - High Priority)
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/AuthenticationController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/FormTokensController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/FormTokenModels.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Program.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/FormTokenService.cs
  custom-forms/backend-api-dotnet/MIGRATION_STATUS.md
  custom-forms/backend-api-dotnet/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(backend-dotnet): implement Custom Forms management endpoints (Fase 2 - Medium Priority)
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/CustomFormsController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/CustomFormsModels.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/backend-api-dotnet/MIGRATION_STATUS.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(backend-dotnet): implement DELETE endpoints (Fase 2 - Low Priority)
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/CustomFormsController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/backend-api-dotnet/MIGRATION_STATUS.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat(backend-dotnet): implement deployment upload endpoint - 100% migration complete 🎉
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/DeploymentController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/CustomFormsModels.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/backend-api-dotnet/MIGRATION_STATUS.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: update DYNAMIC_FORMS_IMPLEMENTATION_PLAN.md
  docs/architecture/DYNAMIC_FORMS_IMPLEMENTATION_PLAN.md
Due: none

fix(auth): apply tenant isolation to all admin API endpoints
  custom-forms/runtime-app/app/api/custom-forms/[formName]/delete/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/[version]/delete/route.ts
  custom-forms/runtime-app/app/api/deployment/upload/route.ts
  custom-forms/runtime-app/lib/auth-server.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(admin-ui): improve UX with better instructions and download behavior
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
  custom-forms/runtime-app/app/admin/upload-forms/page.tsx
  custom-forms/runtime-app/app/api/custom-forms/[formName]/code/route.ts
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: improve documentation with translations and streamlined content
  custom-forms/runtime-app/app/docs/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: complete Spanish translations for documentation page
  custom-forms/runtime-app/app/docs/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: reorganize and consolidate documentation structure
  custom-forms/DEPLOYMENT.md
  custom-forms/docs/DYNAMIC_FORMS.md
  custom-forms/docs/README.md
  custom-forms/runtime-app/lib/translations.ts
  docs/README.md
  docs/deployment/MULTI_CLIENT_DEPLOYMENT.md
  docs/deployment/SERVIDOR_PASOS_FINALES.md
  docs/infrastructure/IIS_CONFIGURATION_GUIDE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs(custom-forms): reorganize docs into subdirectories
  custom-forms/docs/README.md
  custom-forms/docs/infrastructure/PM2_WINDOWS_SETUP.md
  custom-forms/docs/infrastructure/RUNTIME_BASEPATH_SETUP.md
  custom-forms/docs/setup/SETUP_SUBMODULE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: fix broken documentation links after reorganization
  COMANDOS_SERVIDOR.md
  QUICK_START.md
  README.md
  RESUMEN_CONFIGURACION.md
  custom-forms/backend-api-dotnet/MIGRATION_STATUS.md
  docs/deployment/MULTI_CLIENT_DEPLOYMENT.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: fix remaining broken documentation links
  CHECKLIST_SERVIDOR.md
  README.md
  RESUMEN_CONFIGURACION.md
Due: none

docs: reorganize server documentation and scripts
  README.md
  docs/README.md
  docs/RESUMEN_CONFIGURACION.md
  docs/deployment/CHECKLIST_SERVIDOR.md
  docs/deployment/COMANDOS_SERVIDOR.md
  scripts/deployment/clear-iis-cache.ps1
  scripts/diagnostics/diagnose-production.ps1
Due: none

docs: move DEVELOPER_GUIDE.md to custom-forms/docs/
  QUICK_START.md
  custom-forms/README.md
  custom-forms/docs/DEVELOPER_GUIDE.md
  custom-forms/docs/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: move QUICK_START.md to custom-forms/
  README.md
  custom-forms/QUICK_START.md
  docs/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: move root /docs to /custom-forms/docs
  README.md
  custom-forms/docs/DEPLOYMENT_FIX.md
  custom-forms/docs/DEPLOYMENT_TROUBLESHOOTING.md
  custom-forms/docs/README.md
  custom-forms/docs/RESUMEN_CONFIGURACION.md
  custom-forms/docs/architecture/AUTHENTICATION_FLOW.md
  custom-forms/docs/architecture/DYNAMIC_FORMS_IMPLEMENTATION_PLAN.md
  custom-forms/docs/architecture/DYNAMIC_FORMS_IMPLEMENTATION_PLAN_PART2.md
  custom-forms/docs/architecture/IMPLEMENTATION_SUMMARY.md
  custom-forms/docs/architecture/MULTI_ENVIRONMENT_IMPLEMENTATION_PLAN.md
  custom-forms/docs/deployment/CHECKLIST_SERVIDOR.md
  custom-forms/docs/deployment/COMANDOS_SERVIDOR.md
  custom-forms/docs/deployment/MULTI_CLIENT_DEPLOYMENT.md
  custom-forms/docs/deployment/SERVIDOR_PASOS_FINALES.md
  custom-forms/docs/infrastructure/IIS_CONFIGURATION_GUIDE.md
  custom-forms/docs/operations/PROGRESS.md
  custom-forms/docs/security/SECURITY_AUDIT_2025-11-19.md
  custom-forms/docs/security/TENANT_ISOLATION_GUIDE.md
  custom-forms/docs/setup/AZURE_WEBAPP_DEPLOYMENT.md
  custom-forms/docs/setup/DEPLOYMENT.md
  custom-forms/docs/setup/GITHUB_SAMPLE_REPOSITORY_SETUP.md
  custom-forms/docs/setup/GITHUB_WORKFLOW_SETUP_INSTRUCTIONS.md
  custom-forms/docs/setup/IISNODE_SETUP.md
  custom-forms/docs/setup/IIS_SETUP.md
  docs/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: organize loose files into subdirectories
  README.md
  custom-forms/docs/README.md
  custom-forms/docs/architecture/BACKEND_IMPLEMENTATION.md
  custom-forms/docs/deployment/IIS_DEPLOYMENT.md
  custom-forms/docs/deployment/OFFLINE_DEPLOYMENT.md
  custom-forms/docs/operations/DEPLOYMENT_FIX.md
  custom-forms/docs/operations/DEPLOYMENT_TROUBLESHOOTING.md
  custom-forms/docs/operations/RESUMEN_CONFIGURACION.md
  custom-forms/docs/setup/RUNTIME_CONFIG.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

scripts: move deployment scripts to custom-forms
  custom-forms/scripts/deployment/fix-deployment-permissions.ps1
  custom-forms/scripts/deployment/setup-azure-webapps.sh
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs(showcase): organize documentation into docs/ folder
  custom-forms-showcase/docs/README.md
  custom-forms-showcase/docs/RUNTIME_APP_OVERVIEW.md
  custom-forms-showcase/docs/architecture/CUSTOM_FORMS_IMPLEMENTATION_STATUS.md
  custom-forms-showcase/docs/guides/HOT_RELOAD_DEMO.md
  custom-forms-showcase/docs/setup/RUNTIME_CONFIG.md
Due: none

docs: fix documentation organization - separate packages, custom-forms, and showcase
  custom-forms-showcase/docs/README.md
  custom-forms/docs/README.md
  custom-forms/docs/setup/RUNTIME_CONFIG.md
  packages/docs/GETTING_STARTED.md
  packages/docs/QUICK_REFERENCE.md
  packages/docs/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: move RUNTIME_APP_OVERVIEW to correct location
  custom-forms-showcase/docs/README.md
  custom-forms/docs/README.md
  custom-forms/runtime-app/OVERVIEW.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: remove files that don't belong to custom-forms
  custom-forms/docs/README.md
  custom-forms/docs/operations/PROGRESS.md
  custom-forms/docs/security/SECURITY_AUDIT_2025-11-19.md
  custom-forms/docs/setup/GITHUB_SAMPLE_REPOSITORY_SETUP.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: centralize runtime-app documentation in docs/
  custom-forms-showcase/docs/README.md
  custom-forms/docs/README.md
  custom-forms/docs/runtime-app/EXTERNALS_CONFIG.md
  custom-forms/docs/runtime-app/OVERVIEW.md
  custom-forms/docs/runtime-app/SECURITY.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: move showcase docs to correct projects
  custom-forms-showcase/docs/README.md
  custom-forms/docs/README.md
  custom-forms/docs/architecture/CUSTOM_FORMS_IMPLEMENTATION_STATUS.md
  custom-forms/docs/setup/RUNTIME_CONFIG.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: consolidate showcase documentation in single README
  custom-forms-showcase/README.md
  custom-forms-showcase/docs/README.md
Due: none

docs: remove documentation that doesn't belong to custom-forms
  custom-forms/docs/README.md
  custom-forms/docs/setup/AZURE_WEBAPP_DEPLOYMENT.md
  custom-forms/docs/setup/DEPLOYMENT.md
  custom-forms/docs/setup/GITHUB_WORKFLOW_SETUP_INSTRUCTIONS.md
  custom-forms/docs/setup/IISNODE_SETUP.md
  custom-forms/docs/setup/IIS_SETUP.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

docs: add missing dev-credentials setup step to Quick Start sections
  custom-forms-showcase/README.md
  custom-forms-showcase/docs/AUTHENTICATION_FLOW.md
  custom-forms/docs/README.md
  custom-forms/docs/architecture/BACKEND_IMPLEMENTATION.md
  custom-forms/docs/architecture/CUSTOM_FORMS_IMPLEMENTATION_STATUS.md
  custom-forms/docs/architecture/IMPLEMENTATION_SUMMARY.md
  custom-forms/docs/planning/DYNAMIC_FORMS_IMPLEMENTATION_PLAN.md
  custom-forms/docs/planning/DYNAMIC_FORMS_IMPLEMENTATION_PLAN_PART2.md
  custom-forms/docs/planning/MULTI_ENVIRONMENT_IMPLEMENTATION_PLAN.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml
