Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend-webapp.yml, azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml, azure-pipelines.yml

azure-pipelines-backend-webapp.yml:
  stages:
  - stage: Build
    displayName: Build FastAPI Application
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: BuildJob
      displayName: Build Backend API
      steps:
      - checkout: self
        clean: true
        displayName: Checkout Repository
      - task: UsePythonVersion@0
        inputs:
  ...

azure-pipelines-build.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    dependsOn: []
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
  ...

azure-pipelines-customforms.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
  ...

azure-pipelines-frontend-webapp.yml:
  stages:
  - stage: Build
    displayName: Build Next.js Application
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: BuildJob
      displayName: Build Runtime App
      steps:
      - checkout: self
        clean: true
        displayName: Checkout Repository
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Deployment Package
    jobs:
    - job: BuildForms
      displayName: Build and Package Forms
      steps:
      - checkout: self
        fetchDepth: 0
        displayName: Checkout code
      - task: NodeTool@0
        inputs:
  ...

docs: cleanup and consolidate documentation structure
  custom-forms/docs/README.md
  custom-forms/docs/deployment/IIS_DEPLOYMENT.md
  custom-forms/docs/deployment/MULTI_CLIENT_DEPLOYMENT.md
  custom-forms/docs/deployment/OFFLINE_DEPLOYMENT.md
  custom-forms/docs/operations/RESUMEN_CONFIGURACION.md
  custom-forms/docs/planning/DYNAMIC_FORMS_IMPLEMENTATION_PLAN.md
  custom-forms/docs/planning/DYNAMIC_FORMS_IMPLEMENTATION_PLAN_PART2.md
  custom-forms/docs/planning/MULTI_ENVIRONMENT_IMPLEMENTATION_PLAN.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat: convert packages to git submodules
  .gitmodules
Due: none

docs: update repository URLs in showcase
  custom-forms-showcase/app/getting-started/page.tsx
Due: none

test: add comprehensive integration tests for Python vs .NET backend comparison
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/TestConfiguration.cs
  custom-forms/backend-api-dotnet/INTEGRATION_TESTING.md
  custom-forms/backend-api-dotnet/README_TESTING.md
  custom-forms/backend-api-dotnet/run-integration-tests.sh
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

test: complete integration test suite to 100% endpoint coverage
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/INTEGRATION_TESTING.md
  custom-forms/backend-api-dotnet/README_TESTING.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

chore: add test scripts to gitignore
  .gitignore
Due: none

docs(claude): update CLAUDE.md with current project state
  .claude/CLAUDE.md
Due: none

fix(backend-dotnet): correct SQL column name in role validation query
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(tests): increase rate limits and fix test assertions
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/appsettings.json
  custom-forms/backend-api/main.py
Due: azure-pipelines-backend-webapp.yml, azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(backend-dotnet): resolve JSON serialization conflict in UserData model
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/AuthenticationController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/AuthModels.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(backend-dotnet): change model validation status code to 422 UnprocessableEntity
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Program.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(backend-dotnet): remove Produces attribute causing 406 on GetFormCode errors
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/CustomFormsController.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix: match Python backend error handling behavior for 100% compatibility
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/FormTokensController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/FormTokenService.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(backend-dotnet): align DashboardToken response structure with Python
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/FormTokenModels.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(tests): correct login/refresh token assertion to use 'token' field
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/PythonVsDotnetComparisonTests.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(backend-dotnet): add authentication validation to DELETE and upload endpoints
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/CustomFormsController.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Controllers/DeploymentController.cs
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix: remove dev branch from backend pipeline trigger
  azure-pipelines-backend-webapp.yml
Due: none

test: add comprehensive edge case and performance benchmark tests
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Integration/EdgeCaseTests.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.Tests/Performance/PerformanceBenchmarks.cs
  custom-forms/backend-api-dotnet/TESTING_REPORT.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix: frontend compatibility fixes for .NET backend testing
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Models/CustomFormsModels.cs
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/Services/DatabaseService.cs
  custom-forms/runtime-app/app/api/config/route.ts
  custom-forms/runtime-app/lib/auth-server.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat: replace Python backend with .NET Core backend in deployment pipeline
  azure-pipelines-deploy.yml
Due: none

feat: replace Python backend with .NET Core backend in build pipeline
  azure-pipelines-build.yml
Due: azure-pipelines-build.yml

fix: update build pipeline to use .NET 9 SDK
  azure-pipelines-build.yml
Due: azure-pipelines-build.yml

fix: improve IIS application creation with fallback strategy
  azure-pipelines-deploy.yml
Due: none

fix: use correct IIS site name 'Default Web Site'
  azure-pipelines-deploy.yml
Due: none

chore: trigger build pipeline with updated configuration
  azure-pipelines-build.yml
Due: azure-pipelines-build.yml

fix: use same deployment path for .NET backend as Python backend
  azure-pipelines-deploy.yml
Due: none

fix: update backend URLs to use existing IIS virtual path
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
Due: azure-pipelines-build.yml

fix: flatten .NET publish structure to root directory
  azure-pipelines-deploy.yml
Due: none

fix: improve directory flattening with temp directory approach
  azure-pipelines-deploy.yml
Due: none

fix: use correct hostname in health check URL
  azure-pipelines-deploy.yml
Due: none

feat: add web.config for IIS deployment
  custom-forms/backend-api-dotnet/BizuitCustomForms.WebApi/web.config
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat: add comprehensive diagnostics for .NET backend health check failures
  azure-pipelines-deploy.yml
Due: none

Path conditions:
  azure-pipelines-backend-webapp.yml: any of: custom-forms/backend-api
  azure-pipelines-build.yml: any of: custom-forms, azure-pipelines-build.yml
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines-frontend-webapp.yml: any of: custom-forms/runtime-app
  azure-pipelines.yml: any of: */src, */package.json, build-form.js
