Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-customforms.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines.yml: any of: */src, */package.json, build-form.js

fix: eliminar withBasePath de Link y router.push (Next.js ya lo maneja)
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

feat: add individual ZIP creation in each form's dist directory
  .github/workflows/build-deployment-package.yml
Due: none

fix: eliminar último withBasePath de Link en admin layout
  custom-forms/runtime-app/app/admin/layout.tsx
Due: azure-pipelines-customforms.yml

feat: add auto-commit step for deployment ZIPs to repository
  .github/workflows/build-deployment-package.yml
  dashboard-integration-demo/dist/dashboard-integration-demo-v1.0.8.zip
  dashboard-integration-demo/dist/manifest.json
Due: none

fix: remover trailingSlash que causaba redirect perdiendo basePath
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/next.config.js
Due: azure-pipelines-customforms.yml

chore: bump dashboard-integration-demo to v1.1.4
  dashboard-integration-demo/package.json
Due: azure-pipelines.yml

fix: use fetch() directly for Next.js API routes to fix basePath duplication
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
  custom-forms/runtime-app/app/admin/upload-forms/page.tsx
  custom-forms/runtime-app/app/forms/page.tsx
  custom-forms/runtime-app/hooks/useLoginForm.ts
Due: azure-pipelines-customforms.yml

feat: add ReleaseNotes parameter to sp_UpsertCustomForm
  custom-forms/database/sp_UpsertCustomForm.sql
Due: azure-pipelines-customforms.yml

fix: revert to apiFetch() for ALL client-side API calls
  custom-forms/backend-api/database.py
  custom-forms/backend-api/main.py
  custom-forms/backend-api/migrations/003_update_sp_upsert_custom_form.sql
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
  custom-forms/runtime-app/app/admin/upload-forms/page.tsx
  custom-forms/runtime-app/app/form/[formName]/page.tsx.bak
  custom-forms/runtime-app/app/forms/page.tsx
  custom-forms/runtime-app/hooks/useLoginForm.ts
  custom-forms/runtime-app/lib/api-client.ts
  custom-forms/runtime-app/tailwind.config.ts
Due: azure-pipelines-customforms.yml

Update index.tsx
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml

fix: add migration 003 to create missing columns before updating SP
  custom-forms/backend-api/migrations/003_add_missing_columns.sql
  custom-forms/backend-api/migrations/004_update_sp_upsert_custom_form.sql
Due: azure-pipelines-customforms.yml

fix: enable Dashboard token validation with CORS and enhanced security
  custom-forms/backend-api/main.py
  custom-forms/backend-api/validators.py
Due: azure-pipelines-customforms.yml

fix: comprehensive migration fixes for database schema alignment
  custom-forms/backend-api/migrations/001_create_custom_forms_tables.sql
  custom-forms/backend-api/migrations/002_add_release_notes.sql
  custom-forms/backend-api/migrations/003_add_missing_columns.sql
  custom-forms/backend-api/migrations/005_align_customformversions_schema.sql
Due: azure-pipelines-customforms.yml

fix: always overwrite .env.local with correct database configuration
  azure-pipelines-deploy.yml
Due: none

fix: preserve existing .env.local and validate database configuration
  azure-pipelines-deploy.yml
Due: none

fix: use DB_* variables for CustomForms migrations instead of PERSISTENCE_DB_*
  azure-pipelines-deploy.yml
Due: none

docs: update status to 95% - migrations and deployment working
  custom-forms/README.md
Due: azure-pipelines-customforms.yml

feat: add sample-form-2 with Material Design and automatic versioning improvements
  .github/workflows/build-deployment-package.yml
  VERSIONING.md
  sample-form-2/dist/form.js
  sample-form-2/dist/form.js.map
  sample-form-2/dist/form.meta.json
  sample-form-2/package-lock.json
  sample-form-2/package.json
  sample-form-2/src/index.tsx
  sample-form-2/tsconfig.json
Due: azure-pipelines.yml

feat: add git traceability to form versions API and UI
  custom-forms/backend-api/database.py
  custom-forms/runtime-app/app/admin/forms/page.tsx
Due: azure-pipelines-customforms.yml

fix: update both sample-form-2 and dashboard-integration-demo with visual improvements
  dashboard-integration-demo/dist/form.js
  dashboard-integration-demo/dist/form.js.map
  dashboard-integration-demo/dist/form.meta.json
  dashboard-integration-demo/src/index.tsx
  sample-form-2/dist/form.js
  sample-form-2/dist/form.js.map
  sample-form-2/dist/form.meta.json
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

style: change sample-form-2 background to vibrant green gradient
  sample-form-2/dist/form.js
  sample-form-2/dist/form.js.map
  sample-form-2/dist/form.meta.json
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

docs: enhance dashboard-integration-demo with updated content
  dashboard-integration-demo/dist/form.js
  dashboard-integration-demo/dist/form.js.map
  dashboard-integration-demo/dist/form.meta.json
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml

fix: remove Unicode emojis from backend logging for Windows compatibility
  custom-forms/backend-api/main.py
Due: azure-pipelines-customforms.yml

feat: implement per-form independent versioning with auto-correction
  .github/workflows/build-deployment-package.yml
Due: none

chore: update dashboard-integration-demo form name to v2
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml

chore: update both forms - test independent versioning
  dashboard-integration-demo/src/index.tsx
  sample-form-2/src/index.tsx
Due: azure-pipelines.yml

fix: start new forms at v1.0.0 instead of v0.0.1
  .github/workflows/build-deployment-package.yml
Due: none

fix: remove all hardcoded URL fallbacks and add missing API routes
  azure-pipelines-deploy.yml
  custom-forms/runtime-app/.env.example
  custom-forms/runtime-app/.env.production.example
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/page.tsx
  custom-forms/runtime-app/app/api/auth/login/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/code/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/metadata/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/set-version/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/route.ts
  custom-forms/runtime-app/app/api/custom-forms/route.ts
  custom-forms/runtime-app/app/api/dashboard/validate-token/route.ts
  custom-forms/runtime-app/app/api/deployment/upload/route.ts
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-customforms.yml

fix: await params in Next.js 15 API routes
  custom-forms/runtime-app/app/api/custom-forms/[formName]/set-version/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/route.ts
Due: azure-pipelines-customforms.yml

fix: use formName as title instead of description
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/page.tsx
Due: azure-pipelines-customforms.yml

docs: document NEXT_PUBLIC_ALLOW_DEV_MODE and fix form display
  .claude/CLAUDE.md
Due: none

docs: update Backend API environment variables section
  .claude/CLAUDE.md
Due: none

feat: add form/version deletion and icon-only buttons in admin UI
  custom-forms/backend-api/database.py
  custom-forms/backend-api/main.py
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/api/custom-forms/[formName]/delete/route.ts
  custom-forms/runtime-app/app/api/custom-forms/[formName]/versions/[version]/delete/route.ts
Due: azure-pipelines-customforms.yml

fix: correct environment configuration in deployment pipeline
  azure-pipelines-deploy.yml
Due: none

feat: upgrade to optimized build pipeline with correct env vars
  azure-pipelines-build.yml.backup
Due: none

fix: correct deployment copy paths for Next.js standalone build
  azure-pipelines-deploy.yml
Due: none
