Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-customforms.yml, azure-pipelines.yml

azure-pipelines-customforms.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Application
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildJob
      displayName: Build Next.js App
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
        inputs:
  ...

feat: add SQL migrations for Custom Forms database schema
  custom-forms/backend-api/migrations/001_create_custom_forms_tables.sql
  custom-forms/backend-api/migrations/002_add_release_notes.sql
  custom-forms/backend-api/migrations/003_update_sp_upsert_custom_form.sql
Due: azure-pipelines-customforms.yml

feat: add version history management and release notes system
  custom-forms/backend-api/database.py
  custom-forms/backend-api/models.py
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
  packages/bizuit-ui-components/package.json
  packages/bizuit-ui-components/src/components/BizuitLogin.tsx
Due: azure-pipelines-customforms.yml, azure-pipelines.yml

feat: add Azure DevOps pipeline for deployment packages
  AZURE_DEVOPS_SETUP.md
  azure-pipelines.yml
Due: azure-pipelines.yml

chore: remove Python cache files from git tracking
  custom-forms/backend-api/__pycache__/database.cpython-313.pyc
  custom-forms/backend-api/__pycache__/main.cpython-313.pyc
  custom-forms/backend-api/__pycache__/models.cpython-313.pyc
Due: azure-pipelines-customforms.yml

fix: remove packages/** from showcase pipeline path filter
  azure-pipelines.yml
Due: azure-pipelines.yml

docs: update README with deployment pipeline info
  custom-forms/README.md
Due: azure-pipelines-customforms.yml

chore: add runtime-app package-lock.json for CI/CD
  custom-forms/runtime-app/package-lock.json
Due: azure-pipelines-customforms.yml

fix: resolve TypeScript errors and build-time env validation
  custom-forms/runtime-app/app/admin/page.tsx
  custom-forms/runtime-app/app/api/bizuit/[...path]/route.ts
Due: azure-pipelines-customforms.yml

perf: add caching for npm dependencies and Next.js build
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

perf: enable caching for showcase pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

perf: optimize migrations stage with separate artifact
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

feat: auto-create .env.local for backend if missing
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

feat: configure production database credentials in .env.local
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

docs: update project status to 85% with CI/CD configured
  custom-forms/README.md
Due: azure-pipelines-customforms.yml

fix: resolve YAML syntax error in .env.local creation
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

refactor: split pipeline into separate build and deploy stages
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
Due: none

chore: remove old monolithic pipeline file
  azure-pipelines-customforms.yml
Due: azure-pipelines-customforms.yml

docs: update project status to 90% with separated pipelines
  custom-forms/README.md
Due: azure-pipelines-customforms.yml

feat: improve SQL migration logging in deploy pipeline
  azure-pipelines-deploy.yml
Due: none

fix: use target database for connection test instead of master
  azure-pipelines-deploy.yml
Due: none

fix: show SQL error output before throwing exception
  azure-pipelines-deploy.yml
Due: none

fix: make SQL migration scripts database-agnostic
  custom-forms/backend-api/migrations/001_create_custom_forms_tables.sql
  custom-forms/backend-api/migrations/002_add_release_notes.sql
  custom-forms/backend-api/migrations/003_update_sp_upsert_custom_form.sql
Due: azure-pipelines-customforms.yml

fix: use correct database name in deployment pipeline
  azure-pipelines-deploy.yml
Due: none

fix: auto-install PM2 if not available in deployment pipeline
  azure-pipelines-deploy.yml
Due: none

fix: refresh PATH after PM2 installation to make it available
  azure-pipelines-deploy.yml
Due: none

fix: set HOMEPATH environment variable for all PM2 commands
  azure-pipelines-deploy.yml
Due: none

feat: support .env.local for backend configuration
  custom-forms/backend-api/auth_service.py
  custom-forms/backend-api/crypto.py
  custom-forms/backend-api/database.py
  custom-forms/backend-api/main.py
Due: azure-pipelines-customforms.yml

fix: ensure PM2 is in PATH for all commands in deployment pipeline
  azure-pipelines-deploy.yml
Due: none

feat: add multilanguage support to forms management page
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-customforms.yml

fix: ignore PM2 stop errors when process doesn't exist
  azure-pipelines-deploy.yml
Due: none

fix: force exit 0 on PM2 stop to prevent pipeline failure
  azure-pipelines-deploy.yml
Due: none

refactor: move PM2 checks before artifact download for faster failures
  azure-pipelines-deploy.yml
Due: none

fix: use try-catch to handle PM2 stop errors in PowerShell
  azure-pipelines-deploy.yml
Due: none

fix: correct backend artifact path in deployment
  azure-pipelines-deploy.yml
Due: none

fix: wrap pm2 restart in try-catch to handle first deployment
  azure-pipelines-deploy.yml
Due: none

fix: replace npm ci with npm install for runtime deployment
  azure-pipelines-deploy.yml
Due: none

fix: add npm PATH to health check tasks for PM2 logs access
  azure-pipelines-deploy.yml
Due: none

fix: correct backend health check endpoint URL
  azure-pipelines-deploy.yml
Due: none

Path conditions:
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines.yml: any of: example, packages, azure-pipelines.yml
