Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend-webapp.yml, azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml, azure-pipelines.yml

azure-pipelines-backend-webapp.yml:
  stages:
  - stage: Build
    displayName: Build FastAPI Application
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: BuildJob
      displayName: Build Backend API
      steps:
      - checkout: self
        clean: true
        displayName: Checkout Repository
      - task: UsePythonVersion@0
        inputs:
  ...

azure-pipelines-build.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    dependsOn: []
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
  ...

azure-pipelines-customforms.yml:
  stages:
  - stage: BuildRuntime
    displayName: Build Runtime App (Next.js)
    pool:
      vmImage: windows-latest
    jobs:
    - job: BuildRuntimeJob
      displayName: Build Next.js Standalone
      steps:
      - checkout: self
        clean: 'true'
        displayName: Checkout Repository
      - task: NodeTool@0
  ...

azure-pipelines-frontend-webapp.yml:
  stages:
  - stage: Build
    displayName: Build Next.js Application
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: BuildJob
      displayName: Build Runtime App
      steps:
      - checkout: self
        clean: true
        displayName: Checkout Repository
      - task: NodeTool@0
        inputs:
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Deployment Package
    jobs:
    - job: BuildForms
      displayName: Build and Package Forms
      steps:
      - checkout: self
        fetchDepth: 0
        displayName: Checkout code
      - task: NodeTool@0
        inputs:
  ...

chore(runtime-app): update @tyconsa packages to latest versions
  custom-forms/runtime-app/.env.local.bak
  custom-forms/runtime-app/package-lock.json
  custom-forms/runtime-app/package.json
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(runtime-app): pass apiUrl to forms from runtime config
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): prevent build failure when dev-credentials.js missing
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

build(recubiz-gestion): rebuild after removing dead code and URL
  recubiz-gestion/dist/form.js
  recubiz-gestion/dist/form.meta.json
Due: none

chore(recubiz-gestion): add version tag to trigger workflow
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

fix(recubiz-gestion): CI/CD build only production bundle
  recubiz-gestion/package.json
Due: azure-pipelines.yml

fix(runtime-app): use fallback to dev-credentials.default.js
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): bypass TypeScript static analysis for dynamic import
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

feat(runtime-app): use server-side env vars for dev credentials
  custom-forms/runtime-app/.env.local.bak
  custom-forms/runtime-app/app/api/config/route.ts
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

chore: optimize workflow and trigger recubiz build
  .github/workflows/build-deployment-package.yml
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

feat(runtime-app): add dev credentials support to formsa (standalone iframe loader)
  custom-forms/runtime-app/app/formsa/[formName]/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

test: trigger workflow to verify race condition fix
  recubiz-gestion/src/index.tsx
Due: azure-pipelines.yml

fix(runtime-app): support bz-auth query parameter for formsa
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: add comprehensive developer documentation
  custom-forms/DEVELOPER_GUIDE.md
  custom-forms/runtime-app/app/docs/page.tsx
  custom-forms/runtime-app/app/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: expand developer documentation to 100% completeness
  custom-forms/DEVELOPER_GUIDE.md
  custom-forms/runtime-app/app/docs/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: add comprehensive Form Routes & Loaders documentation
  .claude/CLAUDE.md
  custom-forms/DEVELOPER_GUIDE.md
  custom-forms/runtime-app/app/docs/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): use absolute URL with basePath for validate-token endpoint
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: add Spanish version and language switcher
  custom-forms/runtime-app/app/docs/es/page.tsx
  custom-forms/runtime-app/app/docs/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: add detailed environment configuration by deployment
  custom-forms/DEVELOPER_GUIDE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

feat: add multilanguage support for home and docs
  custom-forms/runtime-app/app/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

docs: update main README with developer documentation links
  custom-forms/README.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

refactor: unify documentation with translation system
  custom-forms/README.md
  custom-forms/runtime-app/app/docs/es/page.tsx
  custom-forms/runtime-app/app/docs/page.tsx
  custom-forms/runtime-app/app/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): treat bz-auth as unencrypted JWT token
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): move bz-auth handling to getDashboardParameters
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(runtime-app): convert null to undefined for TypeScript
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(ui): add gear icon to Admin Panel card for visual balance
  custom-forms/runtime-app/app/page.tsx
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

fix(form-template): remove dots from author for backend compatibility
  form-template/dist/form.js
  form-template/dist/form.js.map
  form-template/dist/form.meta.json
  form-template/package.json
Due: azure-pipelines.yml

fix(form-template): change author to single word for validation
  form-template/dist/form.js
  form-template/dist/form.js.map
  form-template/dist/form.meta.json
  form-template/package.json
Due: azure-pipelines.yml

docs: add comprehensive manifest.json validation documentation
  custom-forms/DEVELOPER_GUIDE.md
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml

fix(form-template): initialize SDK with config object
  form-template/README.md
  form-template/dist/form.js
  form-template/dist/form.js.map
  form-template/dist/form.meta.json
  form-template/src/index.tsx
Due: azure-pipelines.yml

fix(form-template): correct SDK auth.login API signature
  form-template/dist/form.js
  form-template/dist/form.js.map
  form-template/dist/form.meta.json
  form-template/src/index.tsx
Due: azure-pipelines.yml

feat(form-template): add serve-dev script for easy fat bundle testing
  form-template/serve-dev.sh
Due: none

fix(runtime-app): format bz-auth token with Basic prefix and URL encoding
  custom-forms/runtime-app/lib/dashboard-params.ts
Due: azure-pipelines-build.yml, azure-pipelines-customforms.yml, azure-pipelines-frontend-webapp.yml

Path conditions:
  azure-pipelines-backend-webapp.yml: any of: custom-forms/backend-api
  azure-pipelines-build.yml: any of: custom-forms, azure-pipelines-build.yml
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines-frontend-webapp.yml: any of: custom-forms/runtime-app
  azure-pipelines.yml: any of: */src, */package.json, build-form.js
