Repository arielsch74/bizuit-custom-form-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-customforms.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-customforms.yml: any of: custom-forms, azure-pipelines-customforms.yml
  azure-pipelines.yml: any of: */src, */package.json, build-form.js

fix: correct PM2 backend command to execute main.py directly
  custom-forms/ecosystem.config.js
Due: azure-pipelines-customforms.yml

fix: copy ecosystem.config.js to server during deployment
  azure-pipelines-deploy.yml
Due: none

refactor: improve PM2 installation check to avoid redundant installs
  azure-pipelines-deploy.yml
Due: none

fix: add checkout step to deployment jobs to access ecosystem.config.js
  azure-pipelines-deploy.yml
Due: none

fix: set HOMEPATH before checking PM2 version
  azure-pipelines-deploy.yml
Due: none

fix: install Python dependencies before starting backend PM2 process
  azure-pipelines-deploy.yml
Due: none

fix: correct PowerShell boolean syntax in backend health check
  azure-pipelines-deploy.yml
Due: none

feat: add web.config XML validation after copy
  azure-pipelines-deploy.yml
Due: none

fix: comment out ARR proxy section until module is installed
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

feat: add IIS configuration for PM2 reverse proxy deployment
  IIS_CONFIGURATION_GUIDE.md
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  custom-forms/backend-api/web.config.production
  custom-forms/runtime-app/.env.production.example
  docs/architecture/MULTI_ENVIRONMENT_IMPLEMENTATION_PLAN.md
Due: azure-pipelines-customforms.yml

docs: add step-by-step server configuration guide in Spanish
  SERVIDOR_PASOS_FINALES.md
Due: none

docs: add quick reference command guide for server administration
  COMANDOS_SERVIDOR.md
Due: none

docs: add comprehensive configuration summary for project
  RESUMEN_CONFIGURACION.md
Due: none

docs: add printable server configuration checklist
  CHECKLIST_SERVIDOR.md
Due: none

docs: add comprehensive deployment section to main README
  README.md
Due: none

feat: auto-create .env.local for runtime app during deployment
  azure-pipelines-deploy.yml
Due: none

docs: update all documentation to reflect automated .env.local creation
  CHECKLIST_SERVIDOR.md
  README.md
  RESUMEN_CONFIGURACION.md
  SERVIDOR_PASOS_FINALES.md
  azure-pipelines-deploy.yml
  custom-forms/runtime-app/.env.example
  custom-forms/runtime-app/app/form/[formName]/page.tsx
Due: azure-pipelines-customforms.yml

docs: add Form Access Control security documentation
  custom-forms/runtime-app/SECURITY.md
Due: azure-pipelines-customforms.yml

fix: correct PowerShell variable syntax for basePath in .env.local creation
  azure-pipelines-deploy.yml
Due: none

fix: remove server variables from web.config to prevent IIS 500.50 error
  custom-forms/backend-api/web.config.production
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

fix: use hardcoded basePath value instead of pipeline variable in PowerShell
  azure-pipelines-deploy.yml
Due: none

fix: update showcase pipeline to use SDK v2.0+ environment variables
  azure-pipelines.yml
Due: none

feat: simplify web.config and add multi-client deployment guide
  MULTI_CLIENT_DEPLOYMENT.md
  README.md
  azure-pipelines-deploy.yml
  custom-forms/backend-api/web.config.production
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

fix: add basePath support for API routes in production
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/admin/upload-forms/page.tsx
  custom-forms/runtime-app/app/forms/page.tsx
  custom-forms/runtime-app/hooks/useLoginForm.ts
  custom-forms/runtime-app/lib/api-client.ts
Due: azure-pipelines-customforms.yml

fix: handle undefined basePath correctly in api-client
  custom-forms/runtime-app/lib/api-client.ts
Due: azure-pipelines-customforms.yml

fix: update login page theme and logout redirect
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

fix: logout not clearing session cookies properly
  custom-forms/runtime-app/app/api/auth/logout/route.ts
Due: azure-pipelines-customforms.yml

feat: redirect to admin if already logged in on login page
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

fix: set cookie path to basePath for production deployment
  custom-forms/runtime-app/app/api/auth/login/route.ts
Due: azure-pipelines-customforms.yml

fix: set cookies via response headers for IIS reverse proxy compatibility
  custom-forms/runtime-app/app/api/auth/login/route.ts
Due: azure-pipelines-customforms.yml

fix: rename backend response variable to avoid conflict
  custom-forms/runtime-app/app/api/auth/login/route.ts
Due: azure-pipelines-customforms.yml

fix: set cookies client-side to bypass IIS reverse proxy issue
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/app/api/auth/login/route.ts
  custom-forms/runtime-app/hooks/useLoginForm.ts
Due: azure-pipelines-customforms.yml

fix: update session endpoint to read cookies from request headers
  custom-forms/runtime-app/app/api/auth/session/route.ts
Due: azure-pipelines-customforms.yml

fix: update web.config to route auth API to Next.js runtime
  custom-forms/runtime-app/web.config.production
Due: azure-pipelines-customforms.yml

fix: add trailing slash to API routes to prevent IIS redirect issues
  custom-forms/runtime-app/lib/api-client.ts
Due: azure-pipelines-customforms.yml

fix: add basePath to login redirects
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

fix: add withBasePath helper and fix all navigation routes
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/app/admin/layout.tsx
  custom-forms/runtime-app/lib/navigation.ts
Due: azure-pipelines-customforms.yml

fix: update all remaining routes to use withBasePath helper
  custom-forms/runtime-app/app/admin/login/page.tsx
Due: azure-pipelines-customforms.yml

feat: add View button for each form version with basePath support
  custom-forms/runtime-app/app/admin/forms/page.tsx
  custom-forms/runtime-app/lib/translations.ts
Due: azure-pipelines-customforms.yml

feat: nueva versión 1.1.0 dashboard-integration-demo con diseño naranja y modal de versión
  dashboard-integration-demo/dist/form.js
  dashboard-integration-demo/dist/form.js.map
  dashboard-integration-demo/dist/form.meta.json
  dashboard-integration-demo/package-lock.json
  dashboard-integration-demo/package.json
  dashboard-integration-demo/src/index.tsx
Due: azure-pipelines.yml
